
.show_user{
    border: 2px solid black;
    
}
.user_search{
    margin-top: 10px;
    border: 1px solid orange;
    border-radius: 10px;
     padding: 7px;
}
.form-search{
    display:flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 0 10px 0 10px;
    padding-right: 10px;
    margin-left: 5px;
    border: 1px solid green;
    /* border: 1px solid orange; */
    border-radius: 10px;
}
.form-header{
    display: flex;
    flex-direction: column;
}
.content{
display: flex;
flex-direction: column;
}
.group-top{
    display: flex;
flex-direction: row;
/* justify-content: space-evenly; */
}
input[type=text] {
    width: 100%;
    /* padding: 12px 20px;
    margin: 8px 0; */
    box-sizing: border-box;
    border: 1px solid white;
    padding-right: 5px;
  }